
<div class="container">
    <div class="row">
      <div class="col-4"></div>
  
      <div class="col-4">
        <div class="card" style="margin-top: 20px;">
          <div class="card-body centralizar">
            <h2>Cadastro de Vagas</h2>
  
  
            <form #formulario="ngForm">
  
              Titulo da Vaga:<span style="color: red">*</span><br>
            <input  required [(ngModel)]="vagas.titulo" type="text" class="form-control" name="titulo">
              <br>
            Descricao:<span style="color: red">*</span><br>
            <input  required [(ngModel)]="vagas.descricao" type="text" class="form-control" name="descricao">
              
              <br />
              Salario:<span style="color: red">*</span><br>
            <input   [(ngModel)]="vagas.salario" type="text" class="form-control" name="salario">
              
              <br />
              Requisito:<span style="color: red">*</span><br>
              <input  required [(ngModel)]="vagas.requisito" type="text" class="form-control" name="requisito">
                
                <br />
                Setor:<br>
              <input   [(ngModel)]="vagas.setor" type="text" class="form-control" name="setor">
                
                <br />
                Tipo:<br>
              <input   [(ngModel)]="vagas.tipo" type="text" class="form-control" name="setor">
                
                <br />
                Data anuncio:<span style="color: red">*</span><br>
                <input   [(ngModel)]="vagas.dataAnuncio" type="date" class="form-control" name="data">
                  
                  <br />
                  Nivel Experiencia:<br>
                <input   [(ngModel)]="vagas.nivelExperiencia" type="text" class="form-control" name="nivel">
                  
                  <br />
                  <div class="text-center mt-3">
                    <button (click)="save()" [disabled]="!formulario.valid" class="btn btn-success">Salvar</button>
                  </div>
                  
            </form>
  
          </div>
        </div>
      </div>
  
      <div class="col-4"></div>
    </div>
  </div>