<!-- <footer class="text-center text-white" style="background-color: #f1f1f1;">

  <div class="container pt-4">

    <section class="mb-4">

      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>


      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>


      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>


      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>


      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin"></i
      ></a>

      <a
        mdbRipple
        rippleColor="dark"
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>

  </div>

  <div class="text-center text-body p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2020 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>

</footer> -->