<div class="fundo">
<div class="col-1"></div>

<div class="container" style="margin-top: 60px;">
  <div class="row">
      <div class="col-3">

      </div>

      <div class="col-6">
        <form (ngSubmit)="buscar()" class="d-flex input-group w-auto">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Busque por vaga, salario ou setor"
            name="termo"
            [(ngModel)]="termoBusca"
          />

          <a class="btn btn-white border px-3" style="left:10px" (click)="buscar()" id="search-addon" role="button">
            <i class="fas fa-search"></i>
          </a>
        </form>


      </div>

      <div class="col-2">

      </div>
    </div>
</div>

<div class="col-1"></div>

<div class="container">
  <div class="row">
      <div class="col-3">

      </div>

      <div class="col-6">
        <div class="alinharADireita" style="margin-left: 250px; margin-top: 40px;">
          @if(loginService.hasRole('Empregador')){
          <a (click)="new()" class="btn btn-success btn-rounded" mdbRippled>
              <i class="fas fa-plus fa-sm"></i> Novo
          </a>
        }
      </div>
        <div class="card mt-3">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Título</th>
                  <th>Descrição</th>
                  <th>Salario</th>
                  <th>Inscricao</th>
                </tr>
              </thead>
              <tbody>
                @for (vaga of lista; track $index){
                <tr>
                  <td>{{ vaga.titulo }}</td>
                  <td>{{ vaga.descricao }}</td>
                  <td>{{ vaga.salario }}</td>
                   <td>
                    <button (click)="inscricao(vaga)" class="btn btn-primary">Se candidatar</button>
                    @if(loginService.hasRole('Empregador')){
                    <button (click)="mostrarModal(vaga)" class="btn btn-info">Ver inscritos</button>
                    }
                   </td>

                </tr>
              }
                @if(lista.length == 0){
                  <tr>
                    <td colspan="2">Nenhuma vaga encontrada.</td>
                  </tr>
                }

              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div class="col-4">

      </div>
    </div>
</div>

</div>
<ng-template #modalVagasForm>

  <div class="modal-header">
      @if(vagasEdit.id > 0){
          <h5 class="modal-title" id="exampleModalLabel">Editar Vaga</h5>
      }@else {
          <h5 class="modal-title" id="exampleModalLabel">Nova Vaga</h5>
      }
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body">

      <app-vagas-form [vagas]="vagasEdit" (meuEvento)="meuEventoTratamento($event)"></app-vagas-form>

  </div>

</ng-template>
<ng-template #ModalInscricaoForm>
  <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Inscrição</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body">
    @if (vagaSelecionada) {
      <h3>Inscritos na vaga: {{ vagaSelecionada?.titulo }}</h3>
      <ul>
        @for (cand of vagaSelecionada?.candidatos; track $index) {
          <li>{{ cand.nome }}</li>
        }
      </ul>
    }
  </div>




