<div class="col-1"></div>

<div class="container" style="margin-top: 60px;">
  <div class="row">
      <div class="col-3">
        
      </div>
      
      <div class="col-6">
        <form (ngSubmit)="buscar()" class="d-flex input-group w-auto">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Busque por vaga, salario ou setor"
            name="termo"
            [(ngModel)]="termoBusca"
          />
          <span class="input-group-text text-white border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        </form>
        
        
      </div>
       
      <div class="col-2">
        
      </div>
    </div>
</div>

<div class="col-1"></div>

<div class="container">
  <div class="row">
      <div class="col-3">
        
      </div>
      
      <div class="col-4">
        <div class="card mt-3">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Título</th>
                  <th>Descrição</th>
                  <th>Salario is W.I.P</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vaga of lista">
                  <td>{{ vaga.titulo }}</td>
                  <td>{{ vaga.descricao }}</td>
                  <!-- <td>{{ vaga.salario }}</td> -->
                </tr>
                <tr *ngIf="lista.length === 0">
                  <td colspan="2">Nenhuma vaga encontrada.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
      </div>
       
      <div class="col-4">
        
      </div>
    </div>
</div>






 